.header{
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    border-bottom: 1px solid lightgray;
    
}



img{
    object-fit: contain;
    height:60px;
    width:200px;
    padding:10px;
}

.header-center{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 40px;
    padding: 5px 10px;
  
}
.header-center > input{
    flex: 1;
    border: none;
    outline: none;
    width:200px;
    margin-right: 10px;
}
.header-right{
    display: flex;
    align-items: center;
    margin-right: 40px;
    padding-left: 10px;
}
.header-right > h3{
    padding-right: 10px;
    font-weight: 500;
}






